.blog-cover {
  width: 30vw;
  object-fit: cover;
  object-position: 0% 0%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.blog-card {
  height: 100%;
}

.title {
  font-size: 1.2rem;
}

.blog-item {
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 8px;
}

.blog-link {
  text-decoration: none;
  color: inherit;
}
